body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {

}

ul {
    
}

.header {

}

.top-header {

}

.logo {

}

.header-links {

}

.header-content {

}

.header-image {

}

.content {

}

.content-images {

}

.content-quote {

}

.content-quote-author {

}

.cta {

}

.footer {

}