body {
    font-family: Arial, Helvetica, sans-serif;
    ;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: #e6e6dd;
}

ul {
    list-style: none;
}

button {
    border: none;
    border-radius: 5px;
    background: #3c82f6;
    color: white;
    align-self: flex-start;
    padding: 8px 32px;
    cursor: pointer;
    min-width: fit-content;

}

.logo {
    width: 80px;
}
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

.header-links {
    display: flex;
    margin-right: 0;
    gap: 16px;
}

.header-hero {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.header-content {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 32px;
    margin: 0px 100px 50px 100px;
}

.header-image {
 display: flex;
 flex-basis: auto;
 width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 50px;
    gap: 50px;
}

.content-heading {
    display: flex;
}

.content-images {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 50px;
 
 }

.content-quote {
    display: flex;
    background-color: lightgray;
    align-items: center;
    padding: 50px 50px 0 50px;
    justify-content: center;
}

.content-quote-author {
    display: flex;
    background-color: lightgray;
    justify-content: end;
    padding: 0 50px;
}

.cta {
    margin: 50px 100px;
    background: #3c82f6;
    display: flex;
    padding: 25px 100px;
    border-radius: 5px;
    color: white;
    justify-content: space-between;
    gap: 32px;
    align-items: center;

}


.cta_button {
    border: 1px solid white;
    border-radius: 5px;
    min-width: fit-content;
    }

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
}